<!-- templates/index.html -->
{% extends 'index.html' %}

{% block body %}
{% load socialaccount %}
{% load account %}


{% if user.is_authenticated %}
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <h1 class="my-4" style="font-size: 40px">Hi {% user_display user %} </h1>
      <div class="list-group">
        <table class="table" >
            <tr>
              <td>Username</td>
              <td>E-mail</td>
              <td >First Name</td>
              <td >Last Name</td>
              <td>Location</td>
              <td>No.HP</td>
            </tr>
            <tr>
              {% for data in data_user %}
                <td>{{ data.username }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.first_name }}</td>
                <td>{{ data.last_name }}</td>
                <td>Location</td>
                <td>No.HP</td>  
              {% endfor %}
            </tr>
          </table>
          <a href="#"><button type="submit" class="btn btn-primary">Edit</button></a>
          <a href="{% url 'account_logout' %}"><button type="submit" class="btn btn-primary">Logout</button></a>            
      </div>
    </div>
    
    {% for data in data_user %}
    <!-- <td><input value="{{ data.username }}"></td>
    <td><input value="{{ data.email }}"></td>
    <td><input value="{{ data.first_name }}"></td>
    <td><input value="{{ data.last_name }}"></td> -->
    {% endfor %}
    
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}