<!DOCTYPE html>
{% load humanize %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nurwana Computer - Toko Komputer dan Elektronik</title>
    {% load staticfiles %}
         

    </div>
    
    <link href= "{% static 'static_cdn/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href= "{% static 'static_cdn/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href= "{% static 'static_cdn/css/shop-homepage.css' %}" rel="stylesheet">
    <link href= "{% static 'static_cdn/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href= "{% static 'static_cdn/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
		
    <script src="{% static 'static_cdn/vendor/jquery/jquery.min.js' %}"></script> 
    
		<style>
			#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
			position: absolute;
			top: 5px;
			left: 21px;
			font-size: 10px;
			}
			
			#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
			max-width: 300px;
			}
			
			#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .row > .col-md-9 > .dropdown-message {
			overflow: hidden;
			text-overflow: ellipsis;
			}
		</style>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     
    <!-- Custom styles for this template -->
    <!-- <link href="css/shop-homepage.css" rel="stylesheet"> -->

  </head>

  <body>
    {% load socialaccount %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Nurwana Computer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            <!-- </li>
						<li class="">
              <a class="nav-link" href="{% url 'pembelian' %}">Pembelian</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="" ><a class="nav-link" href="{% url 'account_logout'%}">Logout</a></li> 
              {%load account%}
            <li><a class= "nav-link" href="{% url 'profile_pelanggan' %}"> Hello, {% user_display user %}</a></li>
            {% else %}
            <li class="" ><a class="nav-link" href="{% url 'account_login'%}">Login</a></li>   
            {% endif %} 
          </ul>
        </div>
      </div>
    </nav>
    {% for data in data_user %}
      {{ data.first_name }}
      {{ data.last_name }}
      {{ data.email}}
      {{ data.id }}
    {% endfor %}
    <!-- Page Content -->
    {% if user_id != None and user_id > 1 %}
    <div class="container" style="margin-top: 2%">
      <h5>Rekomendasi Produk Untuk Anda</h5>
      <div class = "row">
        {% for produk in prediksi %}
        <div>
          <div class="card h-100" style="width: 210px; margin-left: 12px; border-color:yellow">
          {% if produk.foto_produk != "[]" %}
          <a href="#"><img class="card-img-top" style="height: 100px" src=" {% static 'media/' %}{{ produk.foto_produk }}" alt=""></a>
          {% else %}
          <a href="#"><img class="card-img-top" style="height: 100px" src="http://placehold.it/750x450" alt=""></a>
          {% endif %}
          <div class="card-body">
              <form method="get">
              <h6 class="card-title">
              <!-- detail -->
              <a href="{% url 'detail_produk' produk.id_produk %}" >{{ produk.nama_produk }} {{produk.id_porduk}}</a>
              </h6>
              </form>
              <div>
                  {% if produk.rating_produk != "" %}
                  Rating: {{ produk.rating_produk}}
                  {% else %}
                  Rating: 0
                  {% endif %}
              </div>
              <div class="dropdown-divider"></div>
              <h6 class="float-right"><span class="badge badge-secondary px-2">
              {{ produk.kategori_produk.nama_kategori }}</span>
              </h6>
              <h6>{% load humanize %}
                  Rp. {{ produk.harga_produk|intcomma}}
              </h6>
              <span style="width: 100%" class="small">
              Tersedia :  {{ produk.stok_produk }} stok barang 
            </span>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="button" style="width: 100%">			
                <a id="paymentButton" data-id="{{produk.harga_produk}}" href="{% url 'detail_produk' produk.id_produk %}" class="paymentButton btn btn-success btn-block" role="button">
                  Beli Sekarang
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    {% endif %}
    
    <!-- cart -->
    <div class="container">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
          <div>
          <a href="{% url 'cart:cart_detail' %}" style="color: #ffffff">
                            
            <button class="btn btn-info pull-right">
                  {% with totail_items=cart|length %}
                      {% if cart|length > 0 %}
                          My Shopping Order:
                              {{ totail_items }} item{{ totail_items|pluralize }}, Rp. {{ cart.get_total_price|intcomma }}
                          {% else %}
                          Your cart is empty.
                      {% endif %}
                  {% endwith %}
              </button>
            </a>
          </div>
        </div>
        <div> 
    </div>

      <div class="container">
        
      {% block body %}
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4" style="font-size: 40px">Nurwana Computer</h1>
          <div class="list-group">
            {% for produk in kategori_produk %}
            <a href="{% url 'kategori_produk' produk.id_kategori %}" class="list-group-item">{{ produk.nama_kategori }}</a>
            {% endfor %}
          </div>

        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
          <div class="row">
                  
              {% for produk in data_produk %}
              <div class="col-lg-4 col-md-6 mb-4" >
                  <div class="card h-100">
                  {% if produk.foto_produk != "" %}
                  <a href="#"><img class="card-img-top" style="height: 200px" src=" {% static 'media/' %}{{ produk.foto_produk }}" alt=""></a>
                  {% else %}
                  <a href="#"><img class="card-img-top" style="height: 200px" src="http://placehold.it/750x450" alt=""></a>
                  {% endif %}
                  <div class="card-body">
                      <form method="get">
                      <h6 class="card-title">
                      <!-- detail -->
                      <a href="{% url 'detail_produk' produk.id_produk %}" >{{ produk.nama_produk }}</a>
                      </h6>
                      </form>
											<div>
                        {% if produk.rating_produk != "" %}
                        Rating: {{ produk.rating_produk}}
                        {% else %}
                        Rating: 0
                        {% endif %}
											</div>
											<div class="dropdown-divider"></div>
                      <h6 class="float-right"><span class="badge badge-secondary px-2">
											{{ produk.kategori_produk.nama_kategori }}</span>
											</h6>
                      <h6>{% load humanize %}
                          Rp. {{ produk.harga_produk|intcomma}}
                      </h6>
                      <span style="width: 100%" class="small">
											Tersedia :  {{ produk.stok_produk }} stok barang
										</span>
                  </div>
                  <div class="card-footer">
                <div class="row">
                  <div class="button" style="width: 100%">			
                    <a id="paymentButton" data-id="{{produk.harga_produk}}" href="{% url 'detail_produk' produk.id_produk %}" class="paymentButton btn btn-success btn-block" role="button">
                      Beli Sekarang
                    </a>
                  </div>
                  <!-- <div class="col-md-3">
									<a class="btn btn-light border">
									<i class="fa fa-shopping-cart"></i>
									</a>
								</div> -->
							</div>
                  </div>
                  </div>
              </div>
              {% endfor %} 
           
        

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
      {% endblock %}
    </div>
    <!-- /.container -->
    
    <!-- Footer -->
    <footer class="py-5 bg-dark" style="width: 100%">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Nurwana Computer</p>
      </div>
      <!-- /.container -->
    </footer>
		
		<script>

			
			$( '.navbar-nav a' ).on( 'click', function () {
				$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
				$( this ).parent( 'li' ).addClass( 'active' );
			});
		</script>
		
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static 'static_cdn/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static_cdn/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'static_cdn/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'static_cdn/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'static_cdn/vendor/js/sb-admin-datatables.min.js' %}"></script>


  </body>
  <script>
    $(document).on("click", ".open-paymentButton", function () {
      var idProduk = $(this).data('id');
      $(".modal-header #produkID").val( idProduk );
      $('#buyModal').modal('show');
    });
  </script>
</html>
