{% extends "index.html" %}

{% load i18n %}
{% load account %}

{% block body %}

    <div class="container col-md-5 mb-5">
    <div class="card card-login mx-auto mt-4">
      <div class="card-header">Reset Password</div>
			{% if user.is_authenticated %}
			{% include "account/snippets/already_logged_in.html" %}
			{% endif %}
      <div class="card-body">
        <div class="text-center">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
					<div class="form-group">
            <input class="form-control" id="id_email" type="email" placeholder="Enter email address" name="email" required>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password">
        </form>
        <div class="text-center">
          <a href="{{ signup_url }}" class="d-block small mt-3" >Register an Account</a>
          <a class="d-block small" href="{{ login_url }}">Login Page</a>
        </div>
      </div>
			<div class="card-footer small">
				Please contact us if you have any trouble resetting your password.
			</div>
    </div>
  </div>

{% endblock %}
