{% extends "index.html "%}

{% block body %}
{% load staticfiles %}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				{% for produk in data_produk %}
				<div class="card">
					<div class="card-header">
						Detail Barang
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<img  class="card-img-top img-fluid"src="{% static 'media/' %}{{ produk.foto_produk }}">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-9">
										<h6 class="card-title">{{ produk.nama_produk }} </h6>
									</div>
									<div class="col-md-3 text-right">
										<input class="form-control" id="jumlah" type="number" min="1" name="jumlah" value="1">
									</div>
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-5">
												<h6><i class="fa fa-money text-success"></i> {% load humanize %} Rp {{ produk.harga_produk|intcomma }}</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="next-number-picker-handler-wrap">
									<a unselectable="unselectable" class="next-number-picker-handler next-number-picker-handler-up " data-spm-anchor-id="a2o4j.pdp.0.0">
										<span unselectable="unselectable" class="next-number-picker-handler-up-inner" data-spm-anchor-id="a2o4j.pdp.0.i3.4c334ecbNXPW10">
											<i class="next-icon next-icon-add next-icon-medium" data-spm-anchor-id="a2o4j.pdp.0.i5.4c334ecbNXPW10"></i>
										</span>
									</a>
									<a unselectable="unselectable" class="next-number-picker-handler next-number-picker-handler-down next-number-picker-handler-down-disabled" data-spm-anchor-id="a2o4j.pdp.0.0">
										<span unselectable="unselectable" class="next-number-picker-handler-down-inner">
											<i class="next-icon next-icon-minus next-icon-medium" data-spm-anchor-id="a2o4j.pdp.0.i4.4c334ecbNXPW10"></i>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="col-md-12">
				<div class="card card-outline-secondary my-4">
					<div class="card-header">
						Detail Pembelian Cepat
					</div>
					<div class="card-body">
						<div class="form-group">
							<div class="form-row">
								<label for="nama">Nama Anda</label>
								<input class="form-control" id="nama" type="text" placeholder="Nama Anda" name="nama">
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<label for="email">Email</label>
									<input class="form-control" id="email" type="text" placeholder="Email Anda" name="email">
								</div>
								<div class="col-md-6">
									<label for="telp">Nomor Telepon</label>
									<input class="form-control" id="telp" type="text" placeholder="0838xxxx" name="telp">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<div class="form-row">
										<label for="provinsi">Provinsi</label>
										<select class="form-control" name="provinsi">
											<option value="">Provinsi</option>
											<option>Alaska</option>
											<option>California</option>
											<option>Delaware</option>
											<option>Tennessee</option>
											<option>Texas</option>
											<option>Washington</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="form-row">
										<label for="kota">Kabupaten/Kota</label>
										<select class="form-control" name="kota">
											<option value="">Kabupaten/Kota</option>
											<option>Alaska</option>
											<option>California</option>
											<option>Delaware</option>
											<option>Tennessee</option>
											<option>Texas</option>
											<option>Washington</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="form-row">
										<label for="kecamatan">Kecamatan</label>
										<select class="form-control" name="kecamatan">
											<option value="">Kecamatan</option>
											<option>Alaska</option>
											<option>California</option>
											<option>Delaware</option>
											<option>Tennessee</option>
											<option>Texas</option>
											<option>Washington</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-row">
										<label for="kode">Kode POS</label>
										<input type="text" class="form-control" name="kode">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-row">
										<label for="jasa">Kecamatan</label>
										<select class="form-control" name="jasa">
											<option value="">Jasa Pengiriman</option>
											<option>JNE</option>
											<option>TIKI</option>
											<option>POS</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<label for="alamat">Alamat Anda</label>
								<textarea class="form-control" rows="3" placeholder="Alamat Anda" name="alamat"></textarea>
								<p class="text-muted small">* Perhatian! Alamat ini akan menjadi alamat pengiriman barang</p>
							</div>
						</div>
						<input type="submit" class="col-md-4 btn btn-success float-right" value="Bayar">
					</div>
					<div class="card-footer">
						<small><i class="fa fa-check-circle-o"></i> Jaminan 100% Aman. Uang pasti kembali. Sistem pembayaran bebas penipuan <a href="" class="text-primary">Selengkapnya</a></small>
					</div>
					</div>
					<!-- /.card -->
					
					<!-- Beli Modal-->
					<div class="modal fade" id="alamat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title text-center" id="exampleModalLabel">Lanjutkan Ke Pembelian</h5>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									
									
								</div>
								<div class="modal-footer">
									<button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-outline-secondary">
					<div class="card-header">
						<i class="fa fa-bell-o"></i> Rekomendasi
					</div>
					<div class="list-group list-group-flush small">
						<a class="list-group-item list-group-item-action" href="#">
							<div class="media">
								<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
								<div class="media-body">
									<strong>ORIGINAL - Razer BlackWidow Chroma V2</strong>
									<div class="row">
										<div class="col-md-6 text-muted">Rp. 4,970,000,-</div>
										<div class="col-md-6 text-muted text-right"><span style="font-weight: 300" class="badge badge-secondary">Keyboard</span></div>
									</div>
								</div>
							</div>
						</a>
						<a class="list-group-item list-group-item-action" href="#">
							<div class="media">
								<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
								<div class="media-body">
									<strong>ORIGINAL - Razer BlackWidow Chroma V2</strong>
									<div class="row">
										<div class="col-md-6 text-muted">Rp. 4,970,000,-</div>
										<div class="col-md-6 text-muted text-right"><span style="font-weight: 300" class="badge badge-secondary">Keyboard</span></div>
									</div>
								</div>
							</div>
						</a>
						<a class="list-group-item list-group-item-action" href="#">
							<div class="media">
								<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
								<div class="media-body">
									<strong>ORIGINAL - Razer BlackWidow Chroma V2</strong>
									<div class="row">
										<div class="col-md-6 text-muted">Rp. 4,970,000,-</div>
										<div class="col-md-6 text-muted text-right"><span style="font-weight: 300" class="badge badge-secondary">Keyboard</span></div>
									</div>
								</div>
							</div>
						</a>
						<a class="list-group-item list-group-item-action" href="#">Lihat semua item..</a>
					</div>
					<div class="card-footer small text-muted">Terdapat 5 Rekomendasi barang yang sejenis</div>
				</div>
				<!-- /.card -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>


{% endblock %}	