{% extends "index.html "%}

{% block body %}
<!-- Page Content -->
<div class="container">
	
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mb-3">Nurwana Computer<br>
		<small>Contact </small>
	</h1>
<!-- 	
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">Home</a>
		</li>
		<li class="breadcrumb-item active">Contact</li>
	</ol> -->
	
	<!-- Content Row -->
	<div class="row">
		<!-- Map Column -->
		<div class="col-lg-8 mb-4">
			<!-- Embedded Google Map -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15812.589066326691!2d110.3747223!3d-7.7742046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x294cd98559dc9c8c!2sSekolah+Vokasi+Universitas+Gadjah+Mada!5e0!3m2!1sid!2sid!4v1512758530824" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
		<!-- Contact Details Column -->
		<div class="col-lg-4 mb-4">
			<h3>Contact Details</h3>
			<p>
				55281 Sleman, Daerah Istimewa Yogyakarta 
				
				<br>Sekip Unit 1, Catur Tunggal, Depok 
				<br>
			</p>
			<p>
				<abbr title="Phone">P</abbr>:  (0274) 541020
			</p>
			<p>
				<abbr title="Email">E</abbr>:
				<a href="https://github.com/insanelogic29/NurwanaComputer.git" target="_blank">NurwanaComputer Github
				</a>
			</p>
			<p>
				<abbr title="Hours">H</abbr>: Senin - Jum'at: 5:00 AM to 5:00 PM
			</p>
		</div>
	</div>
	<!-- /.row -->
	
</div>
<!-- /.container -->


{% endblock %}	