{% extends "index.html "%}

{% block body %}
{% load staticfiles %}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				{% for produk in data_produk %}
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<img  class="card-img-top img-fluid" src="{% static 'media/' %}{{ produk.foto_produk }}">
							</div>
							<div class="col-md-8">
								<h4 class="card-title">{{ produk.nama_produk }} </h4>
								<div class="card-text">
									<i style="color: #f7d120" class="fa fa-star"></i>
									<i style="color: #f7d120" class="fa fa-star"></i>
									<i style="color: #f7d120" class="fa fa-star"></i>
									<i style="color: #f7d120" class="fa fa-star"></i>
									<i style="color: #f7d120" class="fa fa-star"></i>
								</div>
								<div class="dropdown-divider"></div>
								<h5 class="float-right">
									<span class="badge badge-secondary">{{ produk.kategori_produk.nama_kategori }}</span>
								</h5>
								<h3 class="text-primary" ><strong>{% load humanize %} Rp {{ produk.harga_produk|intcomma }}</strong></h3>
								<div class="stock">
									<h7 style="color:navy">
										Tersedia :  {{ produk.stok_produk }} stok barang
									</h7>
								</div>
								<br>
								<!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p> -->
								<!-- <div class="quantity">
									Kuantitas: 
								</div> -->
								<div class="next-number-picker-handler-wrap">
									<a unselectable="unselectable" class="next-number-picker-handler next-number-picker-handler-up " data-spm-anchor-id="a2o4j.pdp.0.0">
										<span unselectable="unselectable" class="next-number-picker-handler-up-inner" data-spm-anchor-id="a2o4j.pdp.0.i3.4c334ecbNXPW10">
											<i class="next-icon next-icon-add next-icon-medium" data-spm-anchor-id="a2o4j.pdp.0.i5.4c334ecbNXPW10"></i>
										</span>
									</a>
									<a unselectable="unselectable" class="next-number-picker-handler next-number-picker-handler-down next-number-picker-handler-down-disabled" data-spm-anchor-id="a2o4j.pdp.0.0">
										<span unselectable="unselectable" class="next-number-picker-handler-down-inner">
											<i class="next-icon next-icon-minus next-icon-medium" data-spm-anchor-id="a2o4j.pdp.0.i4.4c334ecbNXPW10"></i>
										</span>
									</a>
								</div>
								<!-- <div class="next-number-picker-input-wrap">
									<span class="next-input next-input-single next-input-medium next-number-picker-input">
									<input min="1" max="10" value="1" step="1" autocomplete="off" type="text" height="100%">
									</span>
								</div> -->
								<!-- <div class="col-md-12"> -->
								<div class="row">
									<div class="col-md-6">
										<a data-toggle="modal" data-target="#konfirmasi" class="btn btn-success btn-block text-white">Beli Sekarang</a>
									</div>
									<div class="col-md-6">
										<a href="{% url 'keranjang' %}" class="btn btn-light btn-block"><i class="fa fa-shopping-cart text-success"></i> Masukkan ke Keranjang</a>
									</div>
								</div>
								<!-- </div> -->
								
								<!-- Beli Modal-->
								<div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title text-center" id="exampleModalLabel">Lanjutkan Ke Pembelian</h5>
												<button class="close" type="button" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body text-center">Pembelian dengan Login ATAU Pembelian Cepat?</div>
											<div class="modal-footer">
												<a class="col-md-6 btn btn-light float-left" href="{% url 'account_login' %}">Login</a>
												<a class="col-md-6 btn btn-success" href="{% url 'beli_produk' produk.id_produk %}">Pembelian Cepat</a>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="card-footer">
						<small><i class="fa fa-check-circle-o"></i> Jaminan 100% Aman. Uang pasti kembali. Sistem pembayaran bebas penipuan <a href="" class="text-primary">Selengkapnya</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		<div class="col-md-12">
			<div class="card card-outline-secondary my-4">
				<div class="card-header">
					Product Reviews
					</div>
					<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
					<small class="text-muted">Posted by Anonymous on 3/1/17</small>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
					<small class="text-muted">Posted by Anonymous on 3/1/17</small>
					<hr>
					<!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Reviews:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="float-right btn btn-success">Leave a Reviews</button>
              </form>
            </div>
          </div>
					</div>
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-outline-secondary">
					<div class="card-header">
						<i class="fa fa-bell-o"></i> Rekomendasi
					</div>
						<div class="list-group list-group-flush small">
              <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                  <div class="media-body">
                    <strong>ORIGINAL - Razer BlackWidow Chroma V2</strong>
										<div class="row">
											<div class="col-md-6 text-muted">Rp. 4,970,000,-</div>
											<div class="col-md-6 text-muted text-right"><span style="font-weight: 300" class="badge badge-secondary">Keyboard</span></div>
										</div>
                  </div>
                </div>
              </a>
							<a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                  <div class="media-body">
                    <strong>ORIGINAL - Razer BlackWidow Chroma V2</strong>
										<div class="row">
											<div class="col-md-6 text-muted">Rp. 4,970,000,-</div>
											<div class="col-md-6 text-muted text-right"><span style="font-weight: 300" class="badge badge-secondary">Keyboard</span></div>
										</div>
                  </div>
                </div>
              </a>
							<a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                  <div class="media-body">
                    <strong>ORIGINAL - Razer BlackWidow Chroma V2</strong>
										<div class="row">
											<div class="col-md-6 text-muted">Rp. 4,970,000,-</div>
											<div class="col-md-6 text-muted text-right"><span style="font-weight: 300" class="badge badge-secondary">Keyboard</span></div>
										</div>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action" href="#">Lihat semua item..</a>
            </div>
            <div class="card-footer small text-muted">Terdapat 5 Rekomendasi barang yang sejenis</div>
				</div>
				<!-- /.card -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>


{% endblock %}	