{% extends "index.html "%}

{% block body %}
{% load staticfiles %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row"> 
    <div class="col-lg-4 col-md-6 mb-4" >
        <h1>Rating</h1><br>
        <div class="container" style="float: left;">
        {% for produk in produk_rating %}
            <div class="card h-100" style="border-color:yellow">
                {% if produk.foto_produk != "[]" %}
                <a href="#"><img class="card-img-top" style="height: 100px" src=" {% static 'media/' %}{{ produk.foto_produk }}" alt=""></a>
                {% else %}
                <a href="#"><img class="card-img-top" style="height: 100px" src="http://placehold.it/750x450" alt=""></a>
                {% endif %}
                    <h6 class="card-title">
                    <a href="{% url 'detail_produk' produk.id_produk %}" >{{ produk.nama_produk }}</a>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <h6 class="float-right"><span class="badge badge-secondary px-2">
                    {{ produk.kategori_produk.nama_kategori }}</span>
                    </h6>
                    <div class="rating">
                    <form action="{% url 'order:rating' id_produk=produk.id_produk %}" method="post">
                        {% csrf_token %}
                        {{ form }} <br>
                        <input type="submit" value="submit" class="btn btn-primary">                    
                    </form>    
                    </div>
            </div>
        {% endfor %}
        </div>     
        
    </div>		
</div>
<div class="row">
    Silahkan tekan tombol dibawah ini untuk melanjutkan proses pembelian.
    <p class="text-right">
    <a href="/" class="btn btn-default">Continue Shopping</a>
    </p>
</div>
{% endblock %}	