{% extends "index.html "%}

{% block body %}
{% load staticfiles %}
<div class="container">
    <div class="row" style="margin-top: 6%">
        <div class="col-md-8">
            <h4 class="page-header">Edit Profile</h4>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="submit edit">
            </form>
        </div>
    </div>
</div>
{% endblock %}	