{% extends "index.html "%}

{% block body %}
{% load staticfiles %}
{% for data in data_user %}
{% if data.user != "[]" %}              
	<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<img class="img-responsive img-fluid" src="{% static 'media/profile/default.png' %}">
						<hr>
						{{ data.user.username }}
						<hr>
						{{ data.user.email }}
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						Identitas Diri
					</div>
					<div class="card-body">
						<div class="form-group">
								<div class="form-row">
									<div class="col-md-6">
										<label for="nama">Username: </label>
										{{ data.user }}
									</div>
									<div class="col-md-6">
										<label for="email">Email: </label>
										{{ data.user.email }}
									</div>
									<div class="col-md-6">
										<label for="nama_depan">Nama Depan: </label>
										{{ data.user.first_name }}
									</div>
									<div class="col-md-6">
										<label for="email">Nama Belakang: </label>
										{{ data.user.last_name }}
									</div>
									<div class="col-md-6">
										<label for="email">Alamat: </label>
										{{ data.address }}
									</div>
									<div class="col-md-6">
										<label for="email">Bio: </label>
										{{ data.bio }}
									</div>
									<div class="col-md-6">
										<label for="email">No.HP: </label>
										{{ data.phone_number }}
									</div>
								</div>
							</div>
					</div>
				</div>
				<div class="col-md-9">
						<a href="{% url 'edit_profile' %}" class="btn btn-success btn-block" role="button">
							Edit	
						</a>
				</div>
			<!-- </div>
			<div class="col-md-9">
					<div class="card">
						<div class="card-header">
							Identitas Diri
						</div>
						<div class="card-body">
							<div class="form-group">
									<div class="form-row">
										<div class="col-md-6">
											<label for="nama">Username</label>
											<input class="form-control" id="{{ data.username }}" type="text" placeholder="Nama Anda" name="nama" value="{{ data.username }}">
										</div>
										<div class="col-md-6">
											<label for="email">Email</label>
											<input class="form-control" id="{{ data.email }}" type="email" placeholder="yourname@mail.com" name="email" value="{{ data.email }}">
										</div>
										<div class="col-md-6">
											<label for="nama_depan">Nama Depan</label>
											<input class="form-control" id="{{ data.first_name }}" type="text" placeholder="Nama Depan" name="nama" value="{{ data.first_name }}">
										</div>
										<div class="col-md-6">
											<label for="email">Nama Belakang</label>
											<input class="form-control" id="{{ data.last_name }}" type="text" placeholder="Nama Belakang" name="email" value="{{ data.last_name }}">
										</div>
										<div class="col-md-6">
											<label for="email">Alamat</label>
											<input class="form-control" id="email" type="text" placeholder="Yogyakarta" name="alamat">
										</div>
										<div class="col-md-6">
											<label for="email">No.HP</label>
											<input class="form-control" id="email" type="text" placeholder="+62 " name="nomor hp">
										</div>
									</div>
								</div>
						</div>
					</div>
					
				</div> -->
	</div>
	<div class="row">
		<div class="col-md-9">
			
		</div>
	</div>
{% else %}
	AAAAAAAAAAAA
{% endif %}
{% endfor %}
{% endblock %}	