{% extends "index.html "%}

{% block body %}
{% load staticfiles %}
<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<img class="img-responsive img-fluid" src="">
					<hr>
					Lorem Ipsum
					<hr>
					loremipsum@gmail.com
					<hr>
					Jalan Parangtritis no. 11
				</div>
			</div>
		</div>
		<div class="col-md-9">
				<div class="card-header">
					Identitas Diri
				</div>
				<div class="card-body">
					<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<label for="email">Email</label>
									<input class="form-control" id="email" type="text" placeholder="Email Anda" name="email">
								</div>
								<div class="col-md-6">
									<label for="telp">Nomor Telepon</label>
									<input class="form-control" id="telp" type="text" placeholder="0838xxxx" name="telp">
								</div>
							</div>
						</div>
				</div>
		</div>
</div>

{% endblock %}	